In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\yasharth.tandon\Desktop\Tiger\imdb.csv',escapechar='\\')

In [4]:
df.shape

(14761, 44)

In [5]:
df['duration']=df['duration']/60

In [6]:
df2=df[['year','title','wordsInTitle','type','imdbRating','duration','Action','Adult','Adventure','Animation','Biography','Crime','Documentary','Documentary','Drama','Family','Fantasy','FilmNoir','GameShow','History','Horror','Music','Musical','Mystery','News','RealityTV','Romance','SciFi','Short','Sport','TalkShow','Thriller','War','Western']]

In [7]:
df2.sort_values(by=['year'])

,year,title,wordsInTitle,type,imdbRating,duration,Action,Adult,Adventure,Animation,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
13682,1888.0,Traffic Crossing Leeds Bridge (1888),traffic crossing leeds bridge,video.movie,7.2,0.033333,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14013,1888.0,Roundhay Garden Scene (1888),roundhay garden scene,video.movie,7.8,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14125,1890.0,"Monkeyshines, No. 2 (1890)",monkeyshines no,video.movie,5.4,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6909,1893.0,Blacksmith Scene (1893),blacksmith scene,video.movie,6.3,1.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12691,1894.0,Dickson Experimental Sound Film (1894),dickson experimental sound film,video.movie,6.8,0.366667,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8870,NaN,Icarus Factor,icarus factor,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8907,NaN,Thomas the Tank Engine,thomas the tank engine,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9388,NaN,"Patrik, Age 1.5",patrik age,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14485,NaN,Voltron,voltron,video.movie,NaN,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14558,NaN,The Monkey Wrench Gang,the monkey wrench gang,video.movie,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df2.dropna(subset=['type', 'year'],inplace=True)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df2

,year,title,wordsInTitle,type,imdbRating,duration,Action,Adult,Adventure,Animation,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
0,1921.0,Der Vagabund und das Kind (1921),der vagabund und das kind,video.movie,8.4,54.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1925.0,Goldrausch (1925),goldrausch,video.movie,8.3,95.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1927.0,Metropolis (1927),metropolis,video.movie,8.4,153.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1926.0,Der General (1926),der general,video.movie,8.3,107.0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1931.0,Lichter der Großstadt (1931),lichter der gro stadt,video.movie,8.7,87.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14756,2005.0,Peep Show Sectioning (TV Episode 2005),peep show sectioning tv episode,video.episode,7.7,24.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14757,1957.0,Playhouse 90 The Miracle Worker (TV Episode 1957),playhouse the miracle worker tv episode,video.episode,7.3,90.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14758,1996.0,Private Screenings Robert Mitchum and Jane Rus...,private screenings robert mitchum and jane rus...,video.episode,7.0,60.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14759,2002.0,Providence All the King's Men (TV Episode 2002),providence all the king s men tv episode,video.episode,NaN,60.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14760,2003.0,QI Adam (TV Episode 2003),qi adam tv episode,video.episode,7.6,30.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df2.sort_values(by=['year'],inplace=True)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
df2

,year,title,wordsInTitle,type,imdbRating,duration,Action,Adult,Adventure,Animation,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
13682,1888.0,Traffic Crossing Leeds Bridge (1888),traffic crossing leeds bridge,video.movie,7.2,0.033333,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14013,1888.0,Roundhay Garden Scene (1888),roundhay garden scene,video.movie,7.8,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14125,1890.0,"Monkeyshines, No. 2 (1890)",monkeyshines no,video.movie,5.4,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6909,1893.0,Blacksmith Scene (1893),blacksmith scene,video.movie,6.3,1.000000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12691,1894.0,Dickson Experimental Sound Film (1894),dickson experimental sound film,video.movie,6.8,0.366667,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9432,2015.0,Vexille (2015),vexille,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
6555,2015.0,The Conjuring 2: The Enfield Poltergeist (2015),the conjuring the enfield poltergeist,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8554,2015.0,Cinderella (2015),cinderella,video.movie,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14305,2016.0,The Flash (2016),the flash,video.movie,NaN,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5069,2017.0,Justice League (2017),justice league,video.movie,NaN,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
def non_zero(row, columns):
    return list(set(list(columns[~(row == 0)])))

In [13]:
df2['Genere_combo']=df2.iloc[:,6:].apply(lambda x: non_zero(x, df2.iloc[:,6:].columns), axis=1)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df2.shape

(14731, 35)

In [15]:
df2

,year,title,wordsInTitle,type,imdbRating,duration,Action,Adult,Adventure,Animation,...,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Genere_combo
13682,1888.0,Traffic Crossing Leeds Bridge (1888),traffic crossing leeds bridge,video.movie,7.2,0.033333,0,0,0,0,...,0,0,0,1,0,0,0,0,0,"[Documentary, Short]"
14013,1888.0,Roundhay Garden Scene (1888),roundhay garden scene,video.movie,7.8,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,"[Documentary, Short]"
14125,1890.0,"Monkeyshines, No. 2 (1890)",monkeyshines no,video.movie,5.4,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,[Short]
6909,1893.0,Blacksmith Scene (1893),blacksmith scene,video.movie,6.3,1.000000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,[Short]
12691,1894.0,Dickson Experimental Sound Film (1894),dickson experimental sound film,video.movie,6.8,0.366667,0,0,0,0,...,0,0,0,1,0,0,0,0,0,[Short]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9432,2015.0,Vexille (2015),vexille,video.movie,NaN,NaN,0,0,0,0,...,0,0,1,0,0,0,0,0,0,[SciFi]
6555,2015.0,The Conjuring 2: The Enfield Poltergeist (2015),the conjuring the enfield poltergeist,video.movie,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[Horror]
8554,2015.0,Cinderella (2015),cinderella,video.movie,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,"[Family, Drama, Adventure]"
14305,2016.0,The Flash (2016),the flash,video.movie,NaN,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,"[Action, Drama, Adventure]"
5069,2017.0,Justice League (2017),justice league,video.movie,NaN,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,"[Action, Fantasy, Adventure]"

In [16]:
df3=df2.groupby(['year','type']).agg({'imdbRating': ['mean','min','max'],'duration':'sum'})

In [17]:
df3

                   imdbRating              duration
                         mean  min  max         sum
year   type
1888.0 video.movie   7.500000  7.2  7.8    0.033333
1890.0 video.movie   5.400000  5.4  5.4    0.000000
1893.0 video.movie   6.300000  6.3  6.3    1.000000
1894.0 video.movie   6.800000  6.8  6.8    0.366667
1899.0 video.movie   5.900000  5.9  5.9    1.000000
...                       ...  ...  ...         ...
2014.0 video.tv      7.430769  5.3  9.4  665.000000
2015.0 video.movie        NaN  NaN  NaN    0.000000
       video.tv           NaN  NaN  NaN    0.000000
2016.0 video.movie        NaN  NaN  NaN    0.000000
2017.0 video.movie        NaN  NaN  NaN    0.000000

[276 rows x 4 columns]