In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\yasharth.tandon\Desktop\Tiger\diamonds.csv',escapechar='\\')

In [4]:
df1=df[df['z']!='None']
df1['vol']=np.where(df1['depth']>60,df1['x']*df1['y']*pd.to_numeric(df1['z']),8)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
df1['equal_bins']=pd.qcut(df1['vol'],q=4)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df5=pd.crosstab(df1.equal_bins,df1.cut,margins=True)

In [7]:
x2=df5['All'].iloc[-1]

In [8]:
df5.apply(lambda x: (x*100)/x2,axis=1)

cut,Fair,Good,Ideal,Premium,Very Good,All
equal_bins,,,,,,
"(-0.001, 53.771]",0.533956,2.706862,8.228118,7.252906,6.279548,25.001391
"(53.771, 92.862]",0.287372,1.644511,13.654820,5.091125,4.319855,24.997682
"(92.862, 165.107]",1.401635,3.125869,8.331943,5.417431,6.724512,25.001391
"(165.107, 838.502]",0.762000,1.616701,9.737286,7.807257,5.076293,24.999536
All,2.984964,9.093943,39.952166,25.568719,22.400208,100.000000