In [7]:
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv(r'C:\Users\yasharth.tandon\Desktop\Tiger\imdb.csv',escapechar='\\')

In [9]:
df['duration']=df['duration']/60

In [10]:
df2=df[['year','title','wordsInTitle','type','imdbRating','duration','Action','Adult','Adventure','Animation','Biography','Crime','Documentary','Documentary','Drama','Family','Fantasy','FilmNoir','GameShow','History','Horror','Music','Musical','Mystery','News','RealityTV','Romance','SciFi','Short','Sport','TalkShow','Thriller','War','Western']]

In [11]:
df2['length_of_title']=df2['wordsInTitle'].map(str).apply(len)

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df2['length_of_title'].corr(df2['imdbRating'])

0.1080395312008849

In [13]:
df2.groupby(['year'])['length_of_title'].sum()

year
1888.0       50
1890.0       15
1893.0       16
1894.0       31
1899.0       22
          ...
2013.0    15137
2014.0     4229
2015.0      150
2016.0        9
2017.0       14
Name: length_of_title, Length: 117, dtype: int64

In [14]:
per=np.percentile(df2['length_of_title'],[25,50,75])

In [15]:
per1=[]

In [16]:
for i in df2['length_of_title']:
    if(i<per[0]):
        per1.append('1st percentile')
    elif(i>=per[0] and i<per[1]):
        per1.append('2nd percentile')
    elif(i>=per[1] and i< per[2]):
        per1.append('3rd percentile')
    elif(i>=per[2] ):
        per1.append('4th percentile')

In [17]:
df2['percentile']=per1

c:\users\yasharth.tandon\.conda\envs\tigerml\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df7=pd.crosstab(df2.year,df2.percentile)
#df7.columns=["1st_quantile","2nd_quantile","3rd_quantile","4th_quantile"]

In [19]:
df8=df2.groupby(['year'])['length_of_title'].min().to_frame().reset_index()

In [20]:
df7['min_length']=df8['length_of_title'].values

In [21]:
df8=df2.groupby(['year'])['length_of_title'].max().to_frame().reset_index()

In [22]:
df7['max_length']=df8['length_of_title'].values

In [23]:
df7

percentile,1st percentile,2nd percentile,3rd percentile,4th percentile,min_length,max_length
year,,,,,,
1888.0,0,1,1,0,21,29
1890.0,0,1,0,0,15,15
1893.0,0,1,0,0,16,16
1894.0,0,0,1,0,31,31
1899.0,0,0,1,0,22,22
...,...,...,...,...,...,...
2013.0,104,73,83,232,3,89
2014.0,18,30,22,59,4,99
2015.0,4,1,1,2,6,37
2016.0,1,0,0,0,9,9
2017.0,0,1,0,0,14,14