In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\yasharth.tandon\Desktop\Tiger\imdb.csv',escapechar='\\')

In [3]:
df['duration_deciles']=pd.cut(df['duration'],bins=10)

In [4]:
df2=df.groupby(['duration_deciles']).agg({'nrOfWins':['sum'],'nrOfNominations':['sum'],'title':['count']})

In [5]:
df2.columns=df2.columns.droplevel()

In [6]:
df6=df.groupby(['duration_deciles'])[df.columns.to_list()[16:-1]].sum()

In [7]:
df6 = pd.DataFrame(df6.columns.values[np.argsort(-df6.values, axis=1)[:, :3]], 
                  index=df6.index,
                  columns = ['Top_1_genre','Top_2_genre','Top_3_genre']).reset_index()

In [8]:
df6.set_index(['duration_deciles'],inplace=True)

In [9]:
df7 = pd.concat([df2, df6], axis=1)

In [10]:
df7

                      sum    sum  count Top_1_genre Top_2_genre  Top_3_genre
duration_deciles
(-66.398, 6841.8]   26294  42727  10813      Comedy       Drama        Crime
(6841.8, 13681.6]   18534  22864   2841       Drama      Action       Comedy
(13681.6, 20521.4]    196    191     51       Drama     History  Documentary
(20521.4, 27361.2]     74     84     23       Drama     History  Documentary
(27361.2, 34201.0]     56     50      7       Drama     History      Romance
(34201.0, 41040.8]      6      5      3       Drama     History     Thriller
(41040.8, 47880.6]     22     20      4     History       Drama  Documentary
(47880.6, 54720.4]     12     19      2       Drama       SciFi       Action
(54720.4, 61560.2]      0      0      0      Action    Thriller     TalkShow
(61560.2, 68400.0]      0      0      1     History       Sport  Documentary